* {
  margin: 0px;
  padding: 0px;
}

.anime {
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.anime-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-search {
  width: 350px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
}

input {
  border: medium solid;
  border-radius: 25px;
  padding: 5px;
}

img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 300px;
  width: 225px;
}